url="https://10.78.0.31/nrdp/"
token="jIPO2szz1x1pR"
this_host=`hostname -f | sed 's|.alces.network$||'`

# check:target_host:service_description:check:arguments
declare -a checks=(
    "${this_host}:__HOST__:/opt/nagios/nagios-plugins/check_ping -H localhost -w 200.0,40% -c 400.0,60% -p 1"
    "${this_host}:Check Users:/opt/nagios/nagios-plugins/check_users -w 5 -c 10"
    "${this_host}:Check Load:/opt/nagios/nagios-plugins/check_load -w 20,18,15 -c 64,60,45"
    "${this_host}:Check ROOT:/opt/nagios/nagios-plugins/check_disk -w 20% -c 10% -p /"
    "${this_host}:Check VAR:/opt/nagios/nagios-plugins/check_disk -w 20% -c 10% -p /var"
    "${this_host}:Check OPT:/opt/nagios/nagios-plugins/check_disk -w 20% -c 10% -p /opt"
    "${this_host}:Check Zombie Procs:/opt/nagios/nagios-plugins/check_procs -w 5 -c 10 -s Z"
    "${this_host}:Check Total Procs:/opt/nagios/nagios-plugins/check_procs -w 750 -c 1000"
    "${this_host}:Check Swap:/opt/nagios/nagios-plugins/check_swap -w 30 -c 10"
    "${this_host}:Check Uptime:/opt/nagios/nagios-plugins/check_uptime 30"
    "${this_host}:Check dirvish:/opt/nagios/nagios-plugins/check_dirvish"
                  )
