url="https://10.78.0.31/nrdp/"
token="QkS12p3kj2aP2"
this_host=`hostname -f | sed 's|.alces.network$||'`
cron_schedule='0 8 * * *'

# check:target_host:service_description:check:arguments
declare -a checks=(
    "${this_host}:Check dirvish:/opt/nagios/nagios-plugins/check_dirvish"
    "${this_host}:Check Users Quota:/opt/nagios/nagios-plugins/check_quota_and_mount.sh /export/users 0"
                  )
