url="https://10.78.0.31/nrdp/"
token="jIPO2szz1x1pR"
this_host=`hostname -f | sed 's|.alces.network$||'`

# check:target_host:service_description:check:arguments
declare -a checks=(
    "${this_host}:__HOST__:/opt/nagios/nagios-plugins/check_ping -H localhost -w 200.0,40% -c 400.0,60% -p 1"
    "${this_host}:Check Users:/opt/nagios/nagios-plugins/check_users -w 10 -c 15"
    "${this_host}:Check Load:/opt/nagios/nagios-plugins/check_load -w 200,180,175 -c 300,280,275"
    "${this_host}:Check ROOT:/opt/nagios/nagios-plugins/check_disk -w 20% -c 10% -p /"
    "${this_host}:Check VAR:/opt/nagios/nagios-plugins/check_disk -w 20% -c 10% -p /var"
    "${this_host}:Check Zombie Procs:/opt/nagios/nagios-plugins/check_procs -w 5 -c 10 -s Z"
    "${this_host}:Check Total Procs:/opt/nagios/nagios-plugins/check_procs -w 3000 -c 5000"
    "${this_host}:Check Uptime:/opt/nagios/nagios-plugins/check_uptime 30"
    "${this_host}:Check OST1:/opt/nagios/nagios-plugins/check_PERC_H7X0 0 1"
    "${this_host}:Check OST2:/opt/nagios/nagios-plugins/check_PERC_H7X0 1 1"
    "${this_host}:Check OST3:/opt/nagios/nagios-plugins/check_PERC_H7X0 2 1"
    "${this_host}:Check OST4:/opt/nagios/nagios-plugins/check_PERC_H7X0 3 1"
    "${this_host}:Check OST5:/opt/nagios/nagios-plugins/check_PERC_H7X0 4 1"
    "${this_host}:Check OST6:/opt/nagios/nagios-plugins/check_PERC_H7X0 5 1"
    "${this_host}:Check PSUs:/opt/nagios/nagios-plugins/check_PSUs"
    "${this_host}:Check systemdisk:/opt/nagios/nagios-plugins/check_PERC_H7X0 0 0"
                  )
