#
# Config that can be read by the plugins
#

declare -a ipmi_temperatures=(
                            "node:35:40"
			    "himem:35:40"
			    "hhablock:35:40"
		 	    "hmaster:35:40"
			    "hmeta:35:40"
			    "hnode:35:40"
			    "hservice:35:40"
                             )
